/**Global**/
*{
    margin: 0;
    padding: 0;
}



body{
    font-family:Arial, Helvetica, sans-serif;
}
/**Cabeçalho da pagina**/



header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(238, 235, 235);
}
/**EStrutura da Pagina**/
.card{
    margin-top: 20px;
    border-radius: 5px;
}

.cardImg{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}
/**Estilo de Titulos**/
div h1{
    font-size: 40px;
}
    
/**Estilo de Texto**/
p{
    line-height: 20px;
}

/**Estilo de Formulários**/
legend{
    margin-top: 10px;
}

label{
    margin-bottom: 5px;
}

#personalInput{
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-width: 0.1px;
    width: 100%;
    height: 35px;
    background-color: white;
    padding: 8px;
}